body {
    margin: 0;
    background: whitesmoke;
    text-align: center;

    /* Positioning the container relatively */
    .image-container {
        position: relative;
        width: 500px;
        /* Set your desired width */
        height: 300px;
        /* Set your desired height */
    }

    /* Positioning the smaller images absolutely within the container */
    .small-image {
        position: absolute;
        border-radius: 80%;
    }

    /* Adjust the positioning of each smaller image */
    .small-image1 {
        top: 550px;
        /* Adjust the top position */
        left: 50px;
        /* Adjust the left position */
        width: 250px;
        /* Set the width of the image */
        height: 250px;
        /* Set the height of the image */
    }

    .small-image2 {
        top: 550px;
        /* Adjust the top position */
        left: 200px;
        /* Adjust the left position */
        width: 250px;
        /* Set the width of the image */
        height: 250px;
        /* Set the height of the image */
    }

}